.saved-badge
{
  position: fixed;
  top:0px;
  left:calc(50% - 30px);
  width: 60px;
  display: none;
}

.more-info-svg-badge
{
  height: 17px;
  fill: grey;
  cursor: pointer;
}

.image-content img
{
  max-width: 100%;
}